*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.log,.reg{
  height: 70vh;
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login,.register{
  width: 400px;
  height: auto;
  text-align: center;
}
.btn{
  width: 100%;
}
input{
  margin-bottom: 10px;
}
.header{
  height: 80px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: blue;
  padding-top: 20px;
}
.nav ul{
    width: 100%;
    height: auto;
    display:flex;
    list-style: none;

}
.li {
  margin-right: 20px;
  text-decoration: none;
  color: black;
}
